.ac_div{
	margin-bottom:20px;
}
.ac_div span{
	display:block;
	padding-right:20px;
	margin: 0 0 0 10px;
	background: url(minus.png) right center no-repeat;
	cursor:pointer;
}

.ac_div span.active{
	display:block;
	padding-right:20px;
	margin: 0 0 0 10px;
	background: url(plus.png) right center no-repeat;
	cursor:pointer;
}

.ac_div div{}

.ac_div_x{
	margin-bottom:20px;
}
.ac_div_x span{
	display:block;
	padding: 5px 20px 5px 10px;
	margin: 10px 10px 0 10px;
	background: #f8f5ee url("plus.png") no-repeat scroll right top 10px;
	cursor:pointer;
}

.ac_div_x span.active{
	display:block;
	padding: 5px 20px 5px 10px;
	margin: 10px 10px 5px 10px;
	background: #f8f5ee url("minus.png") no-repeat scroll right top 10px;
	cursor:pointer;
}

.ac_div_x div{
	display:none;
}


.menu_waku {
	margin: 0 10px 20px 10px;
	padding:15px;
	border-style: solid;
	border-color: #cccccc;
	border-width:1px;
	line-height:150%;
}