@charset "utf-8";
/* CSS Document */

/* margin */
.mg_10 { margin: 10px;}
.mg_20 { margin: 20px;}
.mg_30 { margin: 30px;}
.mg_40 { margin: 40px;}

.mg_t10 { margin-top: 10px;}
.mg_t20 { margin-top: 20px;}
.mg_t30 { margin-top: 30px;}
.mg_t40 { margin-top: 40px;}

.mg_l10 { margin-left: 10px;}
.mg_l20 { margin-left: 20px;}
.mg_l30 { margin-left: 30px;}
.mg_l40 { margin-left: 40px;}

.mg_b10 { margin-bottom: 10px;}
.mg_b20 { margin-bottom: 20px;}
.mg_b30 { margin-bottom: 30px;}
.mg_b40 { margin-bottom: 40px;}

.mg_r10 { margin-right: 10px;}
.mg_r20 { margin-right: 20px;}
.mg_r30 { margin-right: 30px;}
.mg_r40 { margin-right: 40px;}

/* padding */
.pd_10 { padding: 10px;}
.pd_20 { padding: 20px;}
.pd_30 { padding: 30px;}
.pd_40 { padding: 40px;}

.pd_t10 { padding-top: 10px;}
.pd_t20 { padding-top: 20px;}
.pd_t30 { padding-top: 30px;}
.pd_t40 { padding-top: 40px;}

.pd_l10 { padding-left: 10px;}
.pd_l20 { padding-left: 20px;}
.pd_l30 { padding-left: 30px;}
.pd_l40 { padding-left: 40px;}

.pd_b10 { padding-bottom: 10px;}
.pd_b20 { padding-bottom: 20px;}
.pd_b30 { padding-bottom: 30px;}
.pd_b40 { padding-bottom: 40px;}

.pd_r10 { padding-right: 10px;}
.pd_r20 { padding-right: 20px;}
.pd_r30 { padding-right: 30px;}
.pd_r40 { padding-right: 40px;}




