@charset "utf-8";
/* CSS Document */


@media only screen and (max-width:480px){

body {
	font: 16px verdana,"メイリオ","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color: #333;
	background: #ffffff;
	min-width: 100%;
}

img {
	width: 100%;
	height: auto;
}

a {
	color: #0000ff;
}
a:hover {
	color: #0000ff;
}
a:visted {
	color: #0000ff;
}

h1 {
	font-size: 11px;
	padding: 15px 0 5px 20px;
	color: #ffffff;
}


/* モバイル切り替え
----------------------------------------*/
.view_pc {
	display: none;
}
.view_sp {
	display: inline;
}

/* ページトップ用
----------------------------------------*/
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* 共通レイアウト
----------------------------------------*/

.warpper {
	width: 100%;
	overflow: hidden;	
}

.inner {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

/* 個別レイアウト
----------------------------------------*/

/* ヘッダー */
.header {
	height: auto;
	background: #25326D
	overflow:hidden;
}

.header .inner{
	width: 100%;
	height: auto;
	background: none;
}

.header_box1 {
	float: none;
	margin: 0 auto;
	width: 300px;
}
.header_box1 img {
	width: 300px;
	height: auto;
}
.header_box2 {
	float: none;
	margin: 0 auto 0;
	padding: 20px 0 10px 0;
	width: 100%;
	background:#e7e9f4;
	text-align:center;
}

.header_box2 img{
	width: 220px;
	margin: 0 auto 5px;
}

/* トップイメージ1 */
.topimage {
	text-align:center;
    background: none;
}

.topimage img {
	width: 100%;
	height: auto;
}


/* ひのきができること */
.con01,
.con02 {
	background: #E7E9F4;
}
.con01 .inner{
	width: 100%;
}

.con02 .inner{
	width: 100%;
}

.title_img {
	background: #E7E9F4;
}


.title_img .box1 {
	margin: 15px auto 20px;
	width: 100%;
	height: auto;
}


.con01 .box1,
.con02 .box1 {
	clear:both;
	width: 100%;
	height: auto;
	text-align:center;
}

.con01 .box1 img,
.con02 .box1 img {
	clear:both;
	float: none;
	margin: 0 auto;
	width: 96%;
	height: auto;
}

.con01 .box1 p,
.con02 .box1 p {
	float: none;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	width: 96%;
	font-size: 14px;
	text-align: left;
}

.con03 {
	background: #E7E9F4;
}

.con04 .box1 {
	margin: 20px auto 0;
	width: 100%;
	height: auto;
}

.con05 {
	margin: 0 2% 0 2%;
	width: 96%;
	height: auto;
    background: none;
}

.con05 dl {
	margin: 0 auto;
	width: 96%;
	height: auto;
}

.con05 dt {
	float: none;
	width: 100%;
	color: #041146;
	font-size: 18px;
	font-weight: bold;
}

.con05 dd {
	float: none;
	width: 100%;
	font-size: 14px;
	color: #616566;
}

.con05 .sym01,
.con05 .sym02,
.con05 .sym03,
.con05 .sym04,
.con05 .sym05,
.con05 .sym06 {
	margin: 10px;
}

.con05 .sym01 {
	margin-top: 30px;
}
.con05 .sym06 {
	margin-bottom: 30px;
}

/* こんなかたにオススメ */
.con06 {
	margin: 0 auto;
	width: 96%;
	height: auto;
	text-align:center;
    background: none;
    background-color: #051557;
}

.con06 .box1 {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background: #1b285f;
}

.con06 .box1 img {
	width: 90%;
	padding: 3px 0 3px;
}

.con06 .box2 {
	margin: 10px auto;
	width: 90%;
	height: auto;
	border:solid 5px #C7CCE4;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.9);
}

.con06 ul {
	margin: 10px 0 0 10px;
}

.con06 li {
	padding: 7px 0 0 30px;
	background : transparent url("../images/con06_chk.png") no-repeat scroll left 0.5em;
	font-size: #15px;
	font-weight: bold;
	color: #333;
}

/* お問合わせ */
.contact {
	margin: 0 auto 20px;
	width: 96%;
	height: auto;
    background: #ffffff url("../images/contact_bg.jpg") no-repeat scroll center top;
}
.contact2 {
    background: none;
	height: 330px;
}

.contact .box1 {
	margin: 30px auto 10px;
	width: 100%;
}

.contact .box2,
.contact .box3 {
	margin: 0 auto;
	float: none;
	width: 90%;
	text-align: center;
}

.contact .box2  img{
	display:block;
	margin: 0 auto;
	width: 90%;
}


/* スポーツ障害*/
.con07 {
	background: none;
	background-color: #e7e9f4;
	height: auto;
	overflow: hidden;
}
.con07 .box1 {
	margin: 0 auto;
	width: 100%;
}
.con07 .box2 {
	float: none;
	margin: 30px 10px 10px 10px;
	padding: 5px;
	width: 90%;
	overflow:hidden;
	height: auto;	
	background: #ffffff;
	border: solid 1px #cccccc;
	box-shadow:3px 3px 2px 2px #ddd;	
}

.con07 .box2 p {
	padding: 10px 10px 20px;
	font-size: 15px;
	line-height: 200%;
}

.con07 .box2 dl {
	margin-left: 15px;
}

.con07 .box2 dt {
	float:left;
	width: 10%;
	font-size: 12px;
	color: #05144b;
}

.con07 .box2 dd {
	float:left;
	width: 75%;
	font-size: 12px;
	color: #05144b;
}

.con08 {
	width: 100%;
	overflow: hidden;
	background: none;	
	background: #0C1954;
}
.con08 .box1{
	margin:0 auto;
	width: 100%;
}

.con08 .box1 img{
	width: 100%;
}

.con09 {
	padding-top: 10px;
	width: 100%;
	height: auto;
	background: #0C1954;
}

.con09 dl{
	margin: 0 0 10px 0;
	display:block;
	width: 100%;
	height: auto;
}
.con09 dt{
	clear:both;
	margin-left:10px;
	width: 100%;
	height: auto;
	font-size: 20px;
	font-weight: bold;
	color:#f39501;
}
.con09 dd{
	clear:both;
	margin-left:10px;
	width: 95%;
	height: auto;
	font-size: 16px;
	color:#fff;
	padding: 5px 0 20px 0;
}

.con10 {
	padding: 30px 0 10px;
	height: auto;
	font-weight: bold;
	background: #0A154B none repeat scroll center top;
}

.con10 h4 {
	padding-bottom: 20px;
	text-align:center;
	font-size: 25px;
	color: #fff;
}
.con10 h4 span {
	font-size: 32px;
}
.con10 p {
	padding: 0 20px;
	font-size: 15px;
	color: #fff;
	line-height: 200%;
}


.voice {	
	background: #e7e9f4;
	padding-bottom: 30px;
}

.voice .box1 {
	margin: 30px auto 0;
	width: 50%;
}

.voice .box2 {
	margin: 0 auto 20px;
	width: 95%;
	background: none;
}

.voice .box2 .voice_title {
	padding: 0;
	font-size: 20px;
}
.voice .box2 .voice_text {
	width: 100%;
}
.voice .box2 .voice_name {
	text-align: right;
	width: 100%;
	padding-top: 0;
	text-shadow: none;
	-moz-box-shadow: none;　/* Firefox用 */  
	-webkit-box-shadow: none;　/* Safari,Google Chrome用 */
}

.voice .box3 {
	display: none;
}



/* */

.staff {
	background: #0C1954;
}

.staff .box1 {
	margin: 0 auto 20px;
	width: 100%;
}

.staff .box2 {
	float:left;
	font-weight: bold;
	width: 100%;
	height: auto;
	margin-right: 0;
	background: none;
}

.staff .box3 {
	float:left;
	font-weight: bold;
	width: 100%;
	height: auto;
	margin-right: 0;
	background: none;
}

.staff .box2 .messeage {
	padding: 0 0 0 10px;
	font-size: 18px;
	font-weight:bold;
	color: #ddd;
	height: auto;
}
.staff .box3 .messeage {
	padding: 30px 0 0 10px;
	font-size: 18px;
	font-weight:bold;
	color: #ddd;
	height: auto;
}

.staff .box2 .name,
.staff .box3 .name {
	display: none;
}

.staff .box4 {
	margin: 0 auto 10px;
	width: 96%;
}

.staff dl {
	margin: 0 2% 0;
	width: 96%;
	overflow: hidden;
}
.staff dt,
.staff .staff_sikaku,
.staff .staff_text {
	float: left;
	padding: 5px 2% 0;
	width: 100%;
	height: 33px;
	font-size: 15px;
	color: #0c1954;
	background: #e7e9f4;
}
.staff dd {
	float: left;
	padding: 10px 2% 10px 2%;
	width: 96%;
	font-size: 15px;
	background: #fff;
}

/* */


.blog {
	height: auto;
	background: #0C1954 url("../images/blog_bg.jpg") no-repeat scroll center top;
}

.blog .box1 {
	margin: 20px auto 20px;
	width: 95%;
}

.g_map {
	margin: 20px auto;
	width: 95%;
	height: auto;
	border: solid 5px #6D76A1;
}

.g_map2 {
	margin: 0 auto 20px;
	width: 100%;
	overflow: hidden;
	color: #1D264F;
}

.g_map2 p{
	font-weight:bold;
}
/* フッター */
.footer {
	margin: 40px 0 0 0;
	background: #1D264F;
	color: #ffffff;	
}

.footer .inner{
	margin: 20px auto 60px;
	width: 100%;
	text-align: center;	
}
.footer a { color: #FFF;}


}
