@charset "utf-8";
/* CSS Document */

body {
	min-width: 960px;
	background: #ffffff;
	font-family: verdana,"メイリオ","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 16px;
	color: #333333;
	background: url("../images/bg01.png") repeat scroll center top;
}

/* 見出し、テキスト、リンク、強調、太字、画像
----------------------------------------*/

h1 {
   color: #ffffff;
    font-size: 11px;
    padding: 15px 0 5px 20px;
}

p {
	line-height: 150%;
}

a {
	color: #0000ff;
}

a:hover {
	color: #0000ff;
}

a:visted {
	color: #0000ff;
}

strong {
	font-weight: bold;
}

b {
	font-weight: bold;
}

img {
	width: 100%;
	height: auto;
}


/* モバイル切り替え
----------------------------------------*/
.view_pc {
	display: block;
}

.view_pc_i {
	display: inline;
}

.view_sp,
.view_sp_i {
	display: none;
}

/* 共通レイアウト
----------------------------------------*/
#bodywarp {
	overflow: hidden;
}

.warpper {
	clear: both;
	width: 100%;
	min-width: 960px;
}

.inner {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.img_title {
	margin: 20px auto 0;
	padding: 20px 0 20px 0;
}

/* 個別レイアウト
----------------------------------------*/

/* ヘッダーロゴ */
.header_logo {
	width: 100%;
	background: #FFF;
}

.header_logo .inner {
	margin: 0 auto;
	width: 960px;
	height: 90px;
	overflow: hidden;
}

.header_logo .inner img {
	width: auto;
	height: auto;
}

/* ヘッダーロゴ */
.top_con01 {
	background : transparent url("../images/bg02.jpg") repeat-x scroll top left;
}

.top_con01 .inner {
	width: 960px;
	height: 680px;
	background : transparent url("../images/img01.png") repeat-x scroll top left;
}

.top_con01 .inner img {
	width: 457px;
	height: 84px;
	padding: 500px 0 0 60px;
}

.top_con03 .inner {
	padding: 25px 0 50px;
/*	background : transparent url("../images/bg03.png") repeat-y scroll top left; */
	text-align: center;
}

.top_con03 .inner img{
	width: 457px;
	height: 84px;
}


.top_con04 .inner {
	width: 960px;
	height: 1800px;
	background : transparent url("../images/img11.png") repeat-x scroll top left;
}

.top_con04 .inner dl {
	display: block;
	padding: 160px 0 0 105px;
	line-height: 166%;
}
.top_con04 .inner .dt_1 {
	clear: both;
	width: 215px;
	height: 55px;
	padding: 25px 0 0;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-align: center;
}

.top_con04 .inner .dt_2 {
	clear: both;
	width: 215px;
	height: 84px;
	padding: 52px 0 0;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-align: center;
}

.top_con04 .inner .dt_3 {
	clear: both;
	width: 215px;
	height: 72px;
	padding: 10px 0 0;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-align: center;
}

.top_con04 .inner .dd_1 {
	padding: 27px 0 0 20px;
	width: 515px;
	font-size: 24px;
/*	font-weight: bold; */
	font-weight: normal;
	color: #42210b;
	float: left;
}

.top_con04 .inner .dd_2 {
	padding: 36px 0 0 20px;
	width: 515px;
	font-size: 24px;
/*	font-weight: bold; */
	font-weight: normal;
	color: #42210b;
	float: left;
}

.top_con04 .inner .dd_4 {
	padding: 24px 0 0 20px;
	width: 515px;
	font-size: 24px;
/*	font-weight: bold; */
	font-weight: normal;
	color: #42210b;
	float: left;
}

.top_con04 .inner .dd_3 {
	padding: 10px 0 0 20px;
	width: 515px;
	font-size: 24px;
/*	font-weight: bold; */
	font-weight: normal;
	color: #42210b;
	float: left;
}

.top_con04 .inner dt span,
.top_con04 .inner dd span {
	font-size: 20px;
/*	font-weight: bold; */
	font-weight: normal;
}

.top_con04 .inner .yoyaku,
.top_con05 .inner .yoyaku {
	width: auto;
	height: auto;
	text-align: center;
}


.top_con04 .inner .yoyaku img,
.top_con05 .inner .yoyaku img {
	clear:both;
	width: 457px;
	height: 84px;
	margin: 25px 0 0 0px;
	text-align:center;
}

.copyright {
	margin: 50px 0 0 0;
	padding: 40px 0;
	background: #333;
	color: #fff;
	text-align: center;
}
.copyright  p{
	padding: 0 0 5px 0;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}

/*
youtube
*/

.move {
	margin: 0 0 40px 0;
}

.move .inner{
	width: 640px;
}

.move_youtube {
	margin: 0 auto;
	position:relative;
	width:100%;
	max-width: 640px;
	padding-top:56.25%;
}

.move_youtube iframe{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}

.voice {
	background : transparent url("../images/img13_bg.png") repeat-y scroll top center;
}

.voice .inner {
	padding: 10px 0 25px;
	width: 640px;
}
