@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:480px){


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html{
	-webkit-text-size-adjust: 100%;
}
body {
	min-width: 100%;
	position: relative;
}

/* 見出し、テキスト、リンク、強調、太字、画像
----------------------------------------*/

h1 {
   color: #ffffff;
    font-size: 11px;
    padding: 15px 0 5px 20px;
}

p {
	line-height: 150%;
}

a {
	color: #0000ff;
}

a:hover {
	color: #0000ff;
}

a:visted {
	color: #0000ff;
}

strong {
	font-weight: bold;
}

b {
	font-weight: bold;
}

img {
	width: 100%;
	height: auto;
}


/* モバイル切り替え
----------------------------------------*/
.view_pc,
.view_pc_i {
	display: none;
}

.view_sp {
	display: block;
}

.view_sp_i {
	display: inline;
}

/* 共通レイアウト
----------------------------------------*/
#bodywarp {
	overflow: hidden;
}

.warpper {
	clear: both;
	width: 100%;
	min-width: 100%;
}

.inner {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

/* 個別レイアウト
----------------------------------------*/

/* ヘッダーロゴ */
.header_logo {
	width: 100%;
	background: #FFF;
}

.header_logo .inner {
	margin: 0 auto;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.header_logo .inner img {
	width: auto;
	height: 50px;
}

/* トップ */
.top_con01 {
	background : none;
}
.top_con01 .inner {
	width: 100%;
	height: auto;
	overflow: hidden;
	background : none;
	background-size: 100% auto;
	text-align: center;
}

.top_con01 .inner img {
	padding: 15px 0 20px;
	width: 90%;
	height: auto;
}

.top_con03 .inner {
	padding: 25px 0 50px;
	background : none;
	text-align: center;
}

.top_con03 .inner img{
	width: 80%;
	height: auto;
}

.top_con04 {
	background: none;
	width: 100%;
}

.top_con04 .inner {
	background: none;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.top_con04 .inner dl {
	padding: 0;
	width: 100%;
}

.top_con04 .inner .dt_1,
.top_con04 .inner .dt_2,
.top_con04 .inner .dt_3,
.top_con04 .inner .dt_4 {
	background: #B08B65;
	margin: 0 auto;
	width: 86%;
	height: auto;
	overflow: hidden;
	padding: 4px 0 4px 2%;
	font-size: 15px;
	float: none;
	text-align: left;
}

.top_con04 .inner .dd_1,
.top_con04 .inner .dd_2,
.top_con04 .inner .dd_3,
.top_con04 .inner .dd_4 {
	margin: 0 auto;
	width: 86%;
	height: auto;
	overflow: hidden;
	padding: 12px 0 30px 2%;
	font-size: 15px;
	float: none;
	text-align: left;
	font-weight: normal;
}


.top_con04 .inner dt span,
.top_con04 .inner dd span {
    font-size: 15px;
    font-weight:normal;
}





.top_con05 .inner {
	width: 80%;
	height: auto;
}



.top_con05 .inner .yoyaku img {
	width: 100%;
	height: auto;
}


.copyright {
	font-size: 14px;
}


.copyright p {
    padding: 0 0 15px;
}

.top_con04 .inner .yoyaku img,
.top_con05 .inner .yoyaku img {
		width: 80%;
		height: auto;
		margin: 25px 0 30px;
}

.move .inner{
	width: 88%;
}

.voice {
	background : transparent url("../images/img13_bg_sp.png") repeat-y scroll top center;
-moz-background-size:100% auto;
background-size:100% auto;
}


.voice .inner {
	width: 76%;
}




}


































