.bkg_common {
  padding: 0 vw(15);
  .bx_bkg {
    padding: vw(21) vw(25);
    position: relative;
    z-index: 1;
    transform: translateZ(0);
    &:before {
      content: "";
      width: 100%;
      height: vw(38);
      background: url(../images/3/top_left.png) top left no-repeat,
      url(../images/3/top_right.png) top right no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      width: 100%;
      height: vw(38);
      background: url(../images/3/left_bottom.png) bottom left no-repeat,
      url(../images/3/right_bottom.png) bottom right no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .inner {
    border: 3px double #B08B65;
    border-radius: 9px;
  }
}

.st_video {
  margin: vw(80) 0;
  .ttl_video {
    h2 {
      font-size: vw(55);
      color: #603813;
      text-align: center;
      font-weight: bold;
    }
    .bx_ttl_sub {
      position: relative;
      &:after {
        content: "";
        background: url(../images/3/af_ttl_video.png) no-repeat;
        background-size: contain;
        width: vw(249);
        height: vw(41);
        position: absolute;
        bottom: vw(-48);
        left: 50%;
        transform: translateX(-50%);
      }
      .bx_left {
        width: vw(380);
        height: vw(240);
        background: url(../images/3/bkg_pink_intro_sp.png) center center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: vw(30) auto;
        p {
          font-size: vw(45);
          color: #fff;
          text-align: center;
          line-height: 1.2;
        }
      }
      .bx_right {
        text-align: center;
        p {
          position: relative;
          font-size: vw(65);
          font-weight: bold;
          color: #D63F73;
          display: inline-block;
          &:after {
            content: "";
            background: url(../images/3/line.png) no-repeat;
            background-size: contain;
            width: 100%;
            height: 17px;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  .move_youtube {
    margin: vw(80) auto;
    position: relative;
    width: 100%;
    max-width: 640px;
  }
}

.st_introduction {
  .gr_intro_beauty {
    background-color: #fff;
    position: relative;
    padding-top: vw(25);
    .bx_bkg {
      &::before {
        display: none;
      }
    }
    .bx_ttl_intro {
      position: relative;
      &:before {
        content: "";
        background: url(../images/3/bf_ttl_intro.png) no-repeat;
        background-size: contain;
        width: vw(182);
        height: vw(148);
        position: absolute;
        top: vw(48);
        left: vw(-20);
        z-index: 1;
      }
      .ttl_intro {
        font-size: vw(32);
        color: #fff;
        font-weight: bold;
        background: url(../images/3/bkg_ttl_intro.png) left center no-repeat;
        background-size: contain;
        background-size: vw(760) vw(90);
        height: vw(65);
        padding: vw(5) 0 0 vw(50);
        margin: 0 vw(-30) 0 vw(-30);
        position: relative;
        &:before {
          content: "";
          background: url(../images/icon_ttl.png) no-repeat;
          background-size: contain;
          width: vw(24);
          height: vw(47);
          position: absolute;
          top: vw(3);
          left: vw(20);
        }
      }
    }
    .dac_banner {
      padding-top: vw(150);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: vw(165);
        height: vw(134);
        top: vw(10);
        left: 50%;
        transform: translateX(-50%);
        background: url('../images/king.png') 0 0 no-repeat;
        background-size: contain;
      }
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    .bx_top_animation {
      padding: 0 20px;
      text-align: center;
      figure{
        margin-bottom: vw(20);
        &:nth-child(1){
          img{
            width: vw(108);
            transform: rotate(11deg);
          }
        }
        &:nth-child(2){
          img{
            width: vw(375);
          }
        }
      }
      .list_right {
        li {
          border: 1px solid #B08B65;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1px;
          margin-bottom: vw(6);
          span {
            font-size: vw(24);
            color: #fff;
            background: url(../images/3/bkg_span_sp.png) top left no-repeat;
            background-size: contain;
            display: inline-block;
            width: vw(215);
            height: vw(44);
            display: flex;
            align-items: center;
            padding-left: vw(20);
          }
          em {
            font-size: vw(30);
            color: #42210B;
            font-style: normal;
            text-align: center;
            display: inline-block;
            width: calc(100% - #{vw(215)});
          }
        }
      }
    }
    .txt_center {
      text-align: center;
      border-top: 1px dashed #C69C6D;
      border-bottom: 1px dashed #C69C6D;
      margin: vw(30) vw(20);
      padding: vw(20) 0;
      font-size: vw(32);
      color: #42210B;
      span {
        color: #F15A24;
      }
      strong {
        color: #D63F73;
      }
    }
    .bx_gr_intro {
      padding: 0 vw(40);
      .ttl_gr {
        font-size: vw(28);
        color: #333;
        text-align: center;
        margin: vw(30) 0 vw(20);
      }
      .list_intro {
        li {          
          margin-bottom: vw(40);
          border-radius: vw(9);
          overflow: hidden;
          span {
            font-size: vw(30);
            color: #fff;
            padding: vw(20);
            background-color: #B08B65;
            display: block;
          }
          img {
            width: 100%;
            height: auto;
            border: 1px solid #B08B65;
            border-radius: 5px;
          }
          .txt {
            font-size: vw(30);
          }
        }
      }
    }
    .bx_serminar_beuty {
      margin: vw(-40) 0 vw(60);
      .ttl_ser {
        background: url(../images/3/bkg_ttl_serminar_sp.png) center center no-repeat;
        font-size: vw(30);
        color: #B08B65;
        text-align: center;
        background-size: vw(725) vw(90);
        margin: 0 vw(-58);
        height: vw(110);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-weight: bold;
      }
      .bx_ser {
        margin: vw(-20) vw(15) vw(20);
        padding: vw(20);
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        figure {
          text-align: center;
          margin: vw(10) 0;
          img{
            width: 100%;
            height: auto;
          }
        }
        .list_ser {
          margin-top: vw(20);
          li {
            font-size: vw(30);
            color: #42210B;
            margin: vw(6) 0;
            position: relative;
            padding-left: vw(15);
            display: flex;
            justify-content: space-between;
            width: 100%;
            &:before {
              content: "";
              width: vw(4);
              height: vw(4);
              background-color: #42210B;
              position: absolute;
              top: vw(18);
              left: 0;
            }
            em {
              width: vw(150);
              font-style: normal;
            }
            span {
              display: inline-block;
              text-align: left;
              width: calc(100% - #{vw(150)});
            }
          }
        }
      }
    }
  }
  .infor_beauty {
    padding: vw(60) 0 vw(20);
    background-color: #fff;
    .ttl_intro {
      font-size: vw(32);
      color: #fff;
      font-weight: bold;
      background: url(../images/3/bkg_ttl_intro.png) left center no-repeat;
      background-size: vw(760) vw(90);
      height: vw(65);
      padding: vw(5) 0 0 vw(50);
      margin: 0 vw(-30) 0 vw(-30);
      position: relative;
      &:before {
        content: "";
        background: url(../images/icon_ttl.png) no-repeat;
        background-size: contain;
        width: vw(24);
        height: vw(47);
        position: absolute;
        top: vw(3);
        left: vw(20);
      }
    }
    table {
      border-collapse: collapse;
      width: vw(660);
      margin: vw(20) auto;
      tr {
        &:last-child{
          th,td{
            border-bottom:none;
          }
        }
        th {
          width: 100%;
          display: block;
          padding: vw(25);
          font-size: vw(30);
          font-weight: bold;
          color: #fff;
          text-align: left;
          background-color: #B08B65;
          vertical-align: middle;
          height: 100%;
          line-height: 1.5;
        }
        td {
          padding: vw(25);
          width: 100%;
          display: block; 
          font-size: vw(30);
          font-weight: normal;
          color: #42210b;
          vertical-align: middle;
          line-height: 1.2;
          span{
            font-size: vw(24);
          }
        }
      }
    }
  }
}
.st_learn{
  margin: vw(50) 0;
  .bx_learn_novasel{
    background-color: #fff;
    padding-top: vw(25);
    .ttl_novasel{
      background: url(../images/3/bkg_ttl_serminar_sp.png) center center no-repeat;
      font-size: vw(32);
      color: #B08B65;
      text-align: center;
      background-size: vw(725) vw(90);
      margin: 0 vw(-58);
      height: vw(110);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: bold;
      span{
        color: #00B3C4;
      }
    }
    .gr_point{
      padding: 0 vw(25) vw(60);
      margin: vw(40) 0 0;
      position: relative;
      &:after{
        content: "";
        background: url(../images/3/af_ttl_video.png) no-repeat;
        background-size: contain;
        width: vw(249);
        height: vw(50);
        position: absolute;
        bottom: vw(30);
        left: 50%;
        transform: translateX(-50%);
      }
      article{
        position: relative;
        border: 1px dashed #B08B65;
        margin-bottom: vw(40);
        padding: vw(15);
        border-radius: vw(9);
        figure{
          position: absolute;
          top: vw(-25);
          left: vw(15);
          img{
            width: vw(133);
          }
        }
        .ttl_art{
          color: #754C24;
          font-size: vw(32);
          font-weight: bold;
          border-bottom: 1px solid #754C24;
          padding-bottom: vw(10);
          margin: vw(30) 0 vw(20);
          line-height: 1.5;
          text-align: center;
          span{
            color: #D63F73;
          }
        }
        p{
          font-size: vw(30);
          line-height: 1.5;
          font-weight: bold;
        }
        .certificate{
          position: absolute;
          right: vw(80);
          top: vw(-50);
          img{
            width: vw(138);
          }
        }
      }
    }
  }
  .bx_st_student{
    background-color: #fff;
    .ttl_student{
      font-size: vw(45);
      text-align: center;
      color: #000;
      font-weight: bold;
      display: block;
      span{
        color: #FF1D25;
        position: relative;
        &:after{
          content:"";
          background: url(../images/3/line_ttl.png) no-repeat;
          background-size: contain;
          width: 100%;
          height: vw(8);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .move_youtube {
      margin: vw(50) vw(20);
      position: relative;
      iframe{
        width: 100%;
      }
    }
    .gr_message{
      padding: 0 vw(20);
      article{
        margin-bottom: vw(40);
        .top{
          display: flex;
          justify-content: center;
          margin-bottom: vw(23);
          figure{
            position: relative;
            z-index: 1;
            img{
              width: vw(189);
            }
          }
          h3{
            font-size: vw(30);
            font-weight: bold;
            color: #4D4D4D;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0 0 vw(15) vw(5);
            position: relative;
            &:after{
              content:"";
              background: url(../images/3/af_tt_msg.png) no-repeat;
              width: vw(303);
              height: vw(14);
              position: absolute;
              bottom: vw(-15);
              left: vw(-120);
            }
            span{
              display: block;
              margin-bottom: vw(20);
            }
          }
        }
        p{
          font-size: vw(32);
          color: #754C24;
          text-decoration: underline dashed #C69C6D;
          line-height: 1.5;
        }
      }
    }
  }
  .bx_procedure{
    background-color: #fff;
    .ttl_procedure{
      background: url(../images/3/bkg_ttl_new.png) center center no-repeat;
      font-size: vw(37);
      color: #fff;
      text-align: center;
      background-size: vw(768) vw(100);
      height: vw(100);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: bold;
      margin: 0 vw(-50);
      span{
        color: #FFFF00;
        position: relative;
        letter-spacing: vw(-3);
        &:before{
          content:"";
          background: url(../images/3/bf_ttl.png) no-repeat;
          width: vw(121);
          height: vw(9);
          position: absolute;
          top: vw(-10);
          left: vw(12);
        }
      }
    }
    .gr_step{
      padding: 0 vw(15) vw(30);
      .item_st{
        margin: vw(30) 0;
        padding-bottom: vw(20);
        border-bottom: 1px dashed #B08B65;
        position: relative;
        &:after{
          content:"";
          background: url(../images/3/af_item.png) no-repeat;
          background-size: contain;
          width: vw(122);
          height: vw(33);
          position: absolute;
          bottom: vw(-33);
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-child(4){
          border-bottom: none;
          margin-bottom: 0;
          &:after{
            content:none;
          }
        }
        .top_st{
          position: relative;
          display: flex;
          justify-content: center;
          padding: vw(10) 0;
          .stt_step{
            width: vw(126);
            height: vw(89);
            background: url(../images/3/bkg_pink_intro.png) center center no-repeat;
            background-size: contain;
            margin: vw(-5) vw(10) 0 0;
            em{
              font-size: vw(26);
              color: #fff;
              text-align: center;
              transform: rotate(-15deg);
              line-height: 1.2;
              padding-top: vw(12);
              font-style: normal;
              display: block;
              span{
                font-size: vw(30);
              }
            }
          }
          .tt_step{
            font-size: vw(30);
            span{
              color: #D63F73;
            }
            small{
              font-size: vw(26);
            }
          }
        }
        figure{
          text-align: center;
          margin: vw(20) 0;
          img{
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}
.btn_cts{
  width: 100%;
  margin: vw(30) auto;
}
.show_sp{
  display: block;
}
.show_pc{
  display: none;
}
footer{
  .txt_call{
    font-size: vw(26); 
    color: #603813;
    text-align: center;
    margin: 0 auto vw(30);
    position: relative;
    &:after{
      content:"";
      background: url(../images/3/line_arrow.png) no-repeat;
      background-size: contain;
      width: vw(504);
      height: vw(25);
      position: absolute;
      bottom: vw(-25);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .bx_time{
    text-align: center;
    .tel{
      pointer-events: none;
      font-size: vw(50);
      color: #603813;
      font-weight: bold;
      display: block;
      span{
        position: relative;
        padding-left: vw(60);
        display: inline-block;
        &:before{
          content:"";
          background: url(../images/3/icon_phone.png) no-repeat;
          background-size: contain;
          width: vw(46);
          height: vw(48);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
    em{
      display: block;
      font-size: vw(26); 
      color: #603813;
      border-bottom: 1px solid #C69C6D;
      margin: 0 auto 0;
      font-style: normal;
      display: inline-block;
    }
  }
  .copyright{
    margin: vw(50) 0 0 0;
    padding: vw(40) 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: vw(26);
    text-align: center;
  }
}