.teacher {
  .logo {
    background-color: #fff;
    img {
      width: vw(366);
    }
  }
  .ttl {
    border-top: vw(5) solid #F1DCB8;
    border-bottom: vw(5) solid #F1DCB8;
    background: #B08B65;
    h2 {
      font-size: vw(33);
      line-height: 1;
      font-weight: bold;
      padding: vw(25) 0 vw(25) vw(25);
      color: #fff;
      position: relative;
      &::before {
        position: absolute;
        content: "ネットで \A 予習・復習";
        white-space: pre;
        right: vw(14);
        top: vw(38);
        transform: rotate(15deg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(160);
        height: vw(107);
        font-size: vw(24);
        line-height: 1.5;
        text-align: center;
        background: url('../images/pink.png') 0 0 no-repeat;
        background-size: contain;
        color: #fff;
        z-index: 1;
      }
      span {
        font-size: vw(48);
        display: inline-block;
      }
    }
  }
  .wrap {
    position: relative;
    background: url(../images/bkg_banner.png) center center no-repeat;
    background-size: cover;
    .bottom {
      width: 100%;
      position: absolute;
      top: vw(185);
      left: 30%;
      transform: translateX(-50%);
      width: vw(443);
      img {
        width: 100%;
        height: auto;
      }
    }
    .top {
      width: 100%;
      .intro {
        position: relative;
        padding: vw(25) 0 0 vw(25);
        /* width: vw(600); */
        &::after {
          position: absolute;
          content: "";
          width: vw(233);
          height: vw(285);
          background: url('../images/armorial_sp.png') 0 0 no-repeat;
          background-size: contain;
          top: vw(334);
          right: vw(25);
        }
        h2 {
          position: relative;
          font-size: vw(74);
          line-height: 1.2;
          font-weight: bold;
          color: #604C3F;
          text-shadow: 1px 1px 0px #fff;
          margin: vw(15) 0;
          font-family: 'Hiragino Kaku Gothic Pro';
          span {
            color: #D53F73;
          }
        }
        .txt-top {
          font-size: vw(33);
        }
        p {
          font-size: vw(27);
          line-height: 1.5;
          font-weight: bold;
          color: #8C6239;
          text-shadow: 1px 1px 0px #fff;
          font-family: 'Hiragino Kaku Gothic Pro';
        }
      }
      .wrap_box {
        margin-top: vw(339);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .banner {
          padding: vw(32) 0 0 vw(8);
          order: 2;
          img {
            width: 100%;
            height: auto;
          }
        }
        .box {
          order: 3;
          /* background: url('../images/bg_box.png') 0 0 no-repeat;
          background-size: cover; */
          padding: vw(10);
          display: none;
          .inner {
            /* padding: vw(20) vw(26) vw(13) vw(20); */
            /* background: #fff; */
            margin: vw(20) 0 vw(40);
            p {
              display: flex;
              align-items: center;
              span {
                display: inline-block;
                font-size: vw(41);
                line-height: 1;
                padding: vw(15) vw(44) vw(14) vw(20);
                background: url('../images/bg_arrow.png') 0 0 no-repeat;
                background-size: 100% 100%;
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  width: vw(16);
                  height: vw(52);
                  background: url('../images/arrow_right.png') 0 0 no-repeat;
                  background-size: contain;
                  top: 50%;
                  transform: translateY(-50%);
                  right: vw(16);
                }
              }
              em {
                font-size: vw(87);
                line-height: 1;
                font-weight: normal;
                color: #FF0000;
                font-style: normal;
                small {
                  font-size: vw(49);
                  color: #FF0000;
                }
              }
            }
            a {
              margin-top: vw(12);
              border-radius: vw(15);
              span {
                font-size: vw(35);
              }
            }
          }
        }
        .info {
          order: 1;
          padding-bottom: vw(32);
          width: 100%;
          position: relative;
          transform: translateZ(0);
          &:after {
            content: "";
            background: url(../images/line_bn.png) repeat-x;
            width: 100%;
            height: vw(4);
            position: absolute;
            bottom: vw(32);
            left: 0;
          }
          p {
            color: #504B47;
            &:nth-of-type(1) {
              text-align: right;
              padding: 0 vw(126) 0 0;
              position: relative;
              &:after {
                content: "";
                background: url(../images/line_bn.png) repeat-x;
                width: 100%;
                height: vw(4);
                position: absolute;
                bottom: vw(-5);
                left: 0;
              }
            }
            img {
              max-width: 100%;
              width: vw(143);
              height: auto;
            }
            &:nth-of-type(2) {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              /* transform: translateY(20px); */
              position: relative;
              padding: vw(15) 0 vw(5);
              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: vw(119);
                background: rgba(#fff, 0.5);
                left: 0;
                bottom: 0;
                z-index: -1;
              }
              span {
                font-size: vw(35);
                line-height: 1;
                width: 40%;
                text-align: right;
                padding: 0 vw(20) 0 0;
              }

              em {
                font-style: normal;
                font-size: vw(56);
                font-weight: bolder;
                line-height: 1.2;
                width: 50%;
                padding: 0 0 0 vw(20);
                small {
                  font-size: vw(30);
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  .frontof {
    background: rgba(#FC3031,0.8);
    color: #fff;
    padding: vw(16);
    width: vw(710);
    height: vw(330);
    position: absolute;
    top: vw(615);
    left: vw(30);
    z-index: 99;
    .content_frontof {
      border: vw(12) solid rgba(#FEC0C0,0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-weight: bold;
      p {
        font-size: vw(50);
      }
      h3 {
        font-size: vw(80);
      }
    }
  }
}

.st_time {
  .row {
    padding: 0 vw(45);
  }
  .bx_bkg_time {
    background: url(../images/bkg_time.png) center center no-repeat;
    background-size: cover;
    margin: vw(50) auto;
    padding: vw(12);
    .inner {
      background-color: #fff;
      height: 100%;
      border-radius: vw(7);
      position: relative;
    }
    .ttl_time {
      font-size: vw(35);
      line-height: vw(83);
      font-weight: bold;
      margin: 0 vw(-36) 0 vw(-38);
      background: url(../images/bkg_ttl_time.png) 0 0 no-repeat;
      background-size: vw(738) vw(95);
      padding: 0 0 0 vw(90);
      color: #fff;
      span {
        text-align: center;
        font-size: vw(22);
        background: url(../images/ctl_gold.png) center center no-repeat;
        background-size: cover;
        width: vw(132);
        height: vw(132);
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #42210B;
        font-weight: bold;
        position: absolute;
        bottom: vw(14);
        right: vw(35);
        strong {
          font-size: vw(32);
        }
        em {
          font-style: normal;
          font-size: vw(26);
          position: relative;
          padding-right: vw(22);
          letter-spacing: vw(-4);
          small {
            color: #fff;
            font-size: vw(15);
            background-color: #42210B;
            width: vw(20);
            height: vw(20);
            display: inline-block;
            border-radius: 100%;
            text-align: center;
            line-height: vw(22);
            position: absolute;
            top: vw(11);
            right: 0;
            padding-right: vw(4);
          }
        }
      }
      &:before {
        position: absolute;
        content: "";
        width: vw(24);
        height: vw(47);
        background: url(../images/eiffel.png) 0 0 no-repeat;
        background-size: contain;
        left: vw(10);
        top: vw(16);
      }
    }
    .bx_datetime {
      .left {
        padding: 0 vw(50);
        margin: vw(20) 0 vw(40);
        .date {
          font-size: vw(70);
          font-weight: bold;
          line-height: 1;
          margin-bottom: vw(10);
          color: #42210B;
          text-align: center;
          position: relative;
          padding-right: vw(32);
          strong {
            font-size: vw(100);
          }
          span {
            color: #fff;
            background-color: #42210B;
            width: vw(70);
            height: vw(70);
            display: inline-block;
            border-radius: 100%;
            text-align: center;
            line-height: vw(70);
            font-size: vw(55);
            position: absolute;
            top: vw(20);
            right: 0;
          }
        }
        .time {
          font-size: vw(40);
          color: #42210B;
          font-weight: bold;
          display: block;
          border-top: 1px solid #42210B;
          border-bottom: 1px solid #42210B;
          text-align: center;
        }
      }
      .right {
        padding: 0 vw(50);
        .list_right {
          margin-top: vw(20);
          li {
            margin-bottom: vw(20);
            span {
              font-size: vw(24);
              background-color: #D53F73;
              display: inline-block;
              border-radius: vw(8);
              color: #fff;
              width: vw(100);
              height: vw(34);
              text-align: center;
              line-height: vw(34);
              vertical-align: top;
            }
            em {
              font-style: normal;
              font-size: vw(24);
              padding-left: vw(12);
              display: inline-block;
              small {
                font-weight: normal;
                font-size: rem(18);
                display: block;
              }
            }
            &:nth-child(2) {
              span {
                font-size: vw(26);
                height: vw(38);
                line-height: vw(38);
              }
              em {
                font-size: vw(26);
                small {
                  font-size: vw(18);
                }
              }
            }
            &:last-child {
              span {
                background-color: transparent;
                color: #42210B;
                width: auto;
                vertical-align: top;
                font-size: vw(16);
              }
            }
          }
        }
      }
    }
  }
}

.care {
  margin-top: vw(42);
  .inner {
    padding: vw(38) vw(20) vw(20);
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    figure {
      text-align: center;
      &:nth-of-type(1) {
        margin-bottom: vw(20);
        order: 2;
      }
      &:nth-of-type(2) {
        order: 3;
      }
      img {
        width: vw(432);
        height: auto;
      }
    }
    .right {
      width: 100%;
      &.start {
        order: 1;
      }
      &.end {
        order: 4;
      }
      h2 {
        font-size: vw(32);
        line-height: vw(50);
        font-weight: bolder;
        color: #B08B65;
        padding: 0 vw(20) vw(14);
        border-bottom: 1px solid #B08B65;
        position: relative;
        text-align: center;
        &:before {
          content: "";
          background: url(../images/bf_h2.png) no-repeat;
          background-size: contain;
          width: vw(63);
          height: vw(45);
          position: absolute;
          bottom: vw(65);
          left: vw(175);
        }
      }
      .list_check {
        margin: vw(20) 0;
        li {
          position: relative;
          font-size: vw(30);
          line-height: vw(40);
          font-weight: bold;
          color: #D63F73;
          margin-bottom: vw(10);
          padding-left: vw(30);
          display: inline-block;
          transform: translateZ(0);
          &:before {
            content: "";
            background: url(../images/icon_check.png) no-repeat;
            background-size: contain;
            width: vw(28);
            height: vw(28);
            position: absolute;
            top: 0;
            left: 0;
          }
          &:after {
            content: "";
            background: url(../images/3/line.png) no-repeat;
            background-size: contain;
            width: 94%;
            height: vw(17);
            position: absolute;
            bottom: 0px;
            left: vw(42);
            z-index: -1;
          }
        }
      }
      h3 {
        font-size: vw(28);
        line-height: 1.5;
        font-weight: bold;
        color: #D63F73;
        padding: vw(17) vw(20) 0;
      }
      p {
        font-size: vw(25);
        line-height: vw(45);
        padding: 0 vw(20);
        margin-top: vw(25);
      }
    }
  }
}

.amazing {
  margin-top: vw(30);
  .inner {
    padding: vw(18) 0 vw(20);
    background: #fff;
    h2 {
      font-size: vw(40);
      line-height: vw(42);
      font-weight: bold;
      margin: 0 0 0 vw(-18);
      background: url('../images/ttl_amazing.png') 0 0 no-repeat;
      background-size: vw(710) vw(75);
      height: vw(75);
      padding: vw(11) 0 vw(22) vw(60);
      position: relative;
      color: #fff;
      &::before {
        position: absolute;
        content: "";
        width: vw(24);
        height: vw(47);
        background: url('../images/eiffel.png') 0 0 no-repeat;
        background-size: contain;
        left: vw(19);
        top: vw(10);
      }
    }
    .wrap {
      padding: vw(80) vw(80) vw(25);
      figure {
        width: 100%;
        border: 1px solid #B08B65;
        position: relative;
        &:not(:last-child) {
          margin-bottom: vw(70);
        }
        &::before {
          position: absolute;
          content: "";
          width: vw(140);
          height: vw(140);
          border-radius: 50%;
          left: vw(-50);
          top: vw(-60);
        }
        &:nth-of-type(1) {
          &::before {
            background: url('../images/amazing_01.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &:nth-of-type(2) {
          &::before {
            background: url('../images/amazing_02.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &:nth-of-type(3) {
          &::before {
            background: url('../images/amazing_03.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        span {
          img {
            width: 100%;
            height: auto;
          }
        }
        figcaption {
          text-align: center;
          font-size: vw(28);
          line-height: 1;
          padding: vw(20) 0;
          color: #fff;
          background: #B08B65;
        }
      }
    }
    .bx_st_student {
      background-color: #fff;
      padding-top: vw(80);
      .ttl_student {
        font-size: vw(45);
        text-align: center;
        color: #000;
        font-weight: bold;
        display: block;
        span {
          color: #FF1D25;
          position: relative;
          &:after {
            content: "";
            background: url(../images/3/line_ttl.png) no-repeat;
            background-size: contain;
            width: 100%;
            height: vw(8);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .move_youtube {
        margin: vw(50) vw(20);
        position: relative;
        iframe {
          width: 100%;
        }
      }
      .gr_message {
        padding: 0 vw(20);
        article {
          margin-bottom: vw(40);
          .top {
            display: flex;
            justify-content: center;
            margin-bottom: vw(23);
            figure {
              position: relative;
              z-index: 1;
              img {
                width: vw(189);
              }
            }
            h3 {
              font-size: vw(30);
              font-weight: bold;
              color: #4D4D4D;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              margin: 0 0 vw(15) vw(5);
              position: relative;
              &:after {
                content: "";
                background: url(../images/3/af_tt_msg.png) no-repeat;
                width: vw(303);
                height: vw(14);
                position: absolute;
                bottom: vw(-15);
                left: vw(-120);
              }
              span {
                display: block;
                margin-bottom: vw(20);
              }
            }
          }
          p {
            font-size: vw(32);
            color: #754C24;
            text-decoration: underline dashed #C69C6D;
            line-height: 1.5;
          }
        }
      }
    }
    .wrap_text {
      padding: vw(63) vw(30) 0 vw(30);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: vw(264);
        height: vw(47);
        background: url('../images/arrow_down.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      &::after {
        position: absolute;
        content: "";
        width: vw(264);
        height: vw(47);
        background: url('../images/arrow_down.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        bottom: vw(-65);
      }
      >p {
        font-size: vw(45);
        line-height: 1;
        padding: vw(15) 0;
        text-align: center;
        color: #fff;
        background: #D63F73;
        border-radius: vw(8);
        font-weight: bold;
      }
    }
  }
}

.seminar {
  padding-top: 20px;
  background: #fff;
  h2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .hide_mb {
      text-align: center;
      img {
        width: vw(555);
        margin: 0 auto 25px;
      }
    }
    em {
      font-style: normal;
      font-size: vw(37);
      line-height: 1;
      font-weight: bold;
      color: #42210B;
      text-align: center;
      &::before,
      &::after {
        position: relative;
        content: "";
        width: 1px;
        height: vw(40);
        background: #000;
      }
      &::before {
        transform: rotate(-30deg);
      }
      &::after {
        transform: rotate(30deg);
      }
      span {
        font-size: vw(37);
        color: #D63F73;
        &:last-child {
          color: #523420;
        }
      }
    }
  }
  .wrap {
    counter-reset: ar;
    padding: vw(20) vw(40) vw(60);
    article {
      counter-increment: ar;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #B08B65;
      position: relative;
      &:not(:last-child) {
        margin-bottom: vw(25);
      }
      &:last-child {
        .main_ar {
          figure {
            text-align: center;
            img {
              width: vw(282);
            }
          }
        }
      }
      h3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        line-height: 1;
        font-weight: bold;
        color: #fff;
        background: #B08B65;
        padding: vw(20) 0 vw(30);
        &::before,
        &::after {
          position: relative;
        }
        &::before {
          content: "Point.";
          font-size: vw(27);
          color: #fff;
          order: 1;
        }
        &::after {
          content: counter(ar);
          font-size: vw(53);
          line-height: vw(40);
          color: #fff;
          order: 2;
          margin-right: vw(25);
        }
        span {
          order: 3;
          font-size: vw(40);
        }
      }
      .main_ar {
        background: url('../images/bg_seminar.png') center center repeat;
        padding: 0 vw(25) vw(20);
        figure {
          img {
            width: 100%;
            height: auto;
            margin-top: vw(-20);
          }
        }
        .txt {
          font-size: vw(26);
          line-height: vw(41);
          padding: vw(22) 0 0;
        }
      }
    }
  }
}

.doctor {
  h2 {
    text-align: center;
    em {
      font-style: normal;
      font-size: vw(42);
      line-height: 1;
      font-weight: bold;
      display: inline-block;
      position: relative;
      padding: 0 0 0 vw(80);
      &::before {
        position: absolute;
        content: "";
        width: vw(53);
        height: vw(111);
        background: url('../images/eiffel_02.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
        bottom: -10px;
      }
      span {
        font-size: vw(49);
        color: #D63F73;
      }
    }
  }
  .inner {
    background: #fff;
    >article {
      display: flex;
      justify-content: space-between;
      padding: vw(20);
      figure {
        width: vw(205);
        margin-right: vw(15);
        img {
          width: 100%;
          height: auto;
        }
      }
      .right {
        width: calc(100% - #{vw(220)});
        padding: vw(50) 0 0;
        h3 {
          font-weight: bold;
          color: #42210B;
          span {
            font-size: vw(31);
            line-height: vw(41);
          }
          em {
            font-size: vw(57);
            line-height: vw(60);
            font-style: normal;
            display: block;
          }
        }
        .txt {
          width: calc(100%+#{vw(220)});
          margin-left: vw(-220);
          font-size: vw(25);
          line-height: vw(46);
          color: #42210B;
          padding-bottom: vw(20);
          border-top: 1px dotted #B08B65;
          margin-top: vw(100);
          padding-top: vw(20);
          border-bottom: 1px dotted #B08B65;
        }
      }
    }
    .history {
      padding: 0 vw(20) vw(20);
      position: relative;
      font-size: vw(25);
      line-height: vw(46);
      color: #42210B;
      font-weight: bold;
      &::after {
        position: absolute;
        content: "";
        width: vw(450);
        height: Vw(300);
        background: url('../images/gray.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        bottom: vw(-30);
      }
      dl {
        margin-bottom: vw(20);
        dt {
          width: 100%;
          span {
            display: inline-block;
            padding: vw(10) vw(20);
            background: #744C24;
            color: #fff;
          }
        }
        dd {
          width: 100%
        }
        +p {
          margin-top: vw(20);
        }
      }
    }
  }
}

.dac_extra {
  &.row {
    padding: 0 vw(45);
  }
  .soldout {
    background: #FFF5EA;
    border: 5px solid #B08B65;
    border-radius: vw(30);
    position: relative;
    padding: 0 vw(30) vw(30);
    margin: vw(20) 0;
    h3 {
      font-size: vw(35);
      color: #fff;
      padding: vw(10);
      margin: 0 vw(-30) vw(50);
      border-top-right-radius: vw(12);
      border-top-left-radius: vw(12);
      background-color: #B08B65;
      display: block;
    }
    .inner {
      z-index: 9;
      .content {
        padding: vw(20);
        border-radius: 10px;
        border: 1px solid pink;
        position: relative;
        background: #fff;
        h4 {
          font-size: vw(35);
          line-height: vw(60);
          background: url('../images/bg_red.png') no-repeat;
          background-size: contain;
          width: vw(520);
          height: vw(60);
          text-align: center;
          color: #fff;
          font-weight: bold;
          position: absolute;
          top: vw(-30);
          left: 50%;
          transform: translateX(-50%);
        }
        .icon {
          margin-top: vw(30);
          ul {
            display: flex;
            justify-content: space-between;
            li {
              display: flex;
              width: vw(150);
              height: vw(150);
              background: url('../images/circle.png') 0 0 no-repeat;
              background-size: contain;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              position: relative;
              font-size: vw(22);
              font-weight: bold;
              text-align: center;
              &::before,
              &::after {
                position: absolute;
                content: "";
              }
              &:not(:last-child) {
                &::before {
                  width: vw(40);
                  height: vw(40);
                  background: url('../images/plus.png') 0 0 no-repeat;
                  background-size: contain;
                  right: vw(-50);
                }
              }
              &:nth-of-type(1) {
                &::after {
                  width: vw(150);
                  height: vw(120);
                  background: url('../images/dua.png') 0 0 no-repeat;
                  background-size: contain;
                  background-size: contain;
                  left: vw(20);
                  bottom: vw(-40);
                }
              }
              &:nth-of-type(2) {
                &::after {
                  width: vw(90);
                  height: vw(85);
                  background: url('../images/icon_new.png') 0 0 no-repeat;
                  background-size: contain;
                  background-size: contain;
                  right: vw(-30);
                  bottom: vw(-15);
                }
              }
              &:nth-of-type(3) {
                &::after {
                  width: vw(90);
                  height: vw(80);
                  background: url('../images/water.png') 0 0 no-repeat;
                  background-size: contain;
                  right: vw(-40);
                  bottom: vw(-1);
                }
              }
            }
          }
        }
      }
      .price {
        margin-top: vw(20);
        p {
          display: flex;
          align-items: center;
          span {
            display: inline-block;
            font-size: vw(41);
            line-height: 1;
            padding: vw(15) vw(44) vw(14) vw(20);
            background: url('../images/bg_arrow.png') 0 0 no-repeat;
            background-size: 100% 100%;
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: vw(16);
              height: vw(52);
              background: url('../images/arrow_right.png') 0 0 no-repeat;
              background-size: contain;
              top: 50%;
              transform: translateY(-50%);
              right: vw(16);
            }
          }
          em {
            font-size: vw(87);
            line-height: 1;
            font-weight: normal;
            color: #FF0000;
            font-style: normal;
            small {
              font-size: vw(49);
              color: #FF0000;
            }
          }
        }
      }
    }
  }
  .note {
    margin-top: vw(20);
    font-size: vw(20);
    line-height: vw(30);
    color: #000;
  }
  .soldout2 {
    background-size: 100% 100%;
    padding: vw(70) vw(40);
    .inner {
      .content {
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
        h4 {
          position: relative;
        }
      }
    }
    .price {
      margin-top: vw(50);
    }
  }
}