.bkg_common {
  padding: 0 15px;
  .bx_bkg {
    padding: 21px 25px;
    position: relative;
    z-index: 1;
    transform: translateZ(0);
    &:before {
      content: "";
      width: 100%;
      height: 38px;
      background: url(../images/3/top_left.png) top left no-repeat,
      url(../images/3/top_right.png) top right no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      width: 100%;
      height: 38px;
      background: url(../images/3/left_bottom.png) bottom left no-repeat,
      url(../images/3/right_bottom.png) bottom right no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .inner {
    border: 3px double #B08B65;
    border-radius: 9px;
  }
}

.st_video {
  margin: 50px 0;
  .ttl_video {
    h2 {
      font-size: rem(36);
      color: #603813;
      text-align: center;
      font-weight: bold;
    }
    .bx_ttl_sub {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -26px;
      position: relative;
      &:after {
        content: "";
        background: url(../images/3/af_ttl_video.png) no-repeat;
        width: 249px;
        height: 41px;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
      .bx_left {
        width: 159px;
        height: 111px;
        background: url(../images/3/bkg_pink_intro.png) center center no-repeat;
        p {
          font-size: rem(17);
          color: #fff;
          text-align: center;
          transform: rotate(-15deg);
          line-height: 1.2;
          padding-top: 24px;
        }
      }
      .bx_right {
        padding-left: 15px;
        p {
          position: relative;
          font-size: rem(40);
          font-weight: bold;
          color: #D63F73;
          display: inline-block;
          + p {
            display: inline;
            color: #000;
            &::after {
              display: none;
            }
          }
          &:after {
            content: "";
            background: url(../images/3/line.png) no-repeat;
            width: 100%;
            height: 17px;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  .move_youtube {
    margin: 50px auto;
    position: relative;
    width: 100%;
    max-width: 640px;
  }
}

.st_introduction {
  .gr_intro_beauty {
    background-color: #fff;
    position: relative;
    padding-top: 25px;
    .bx_bkg {
      &::before {
        display: none;
      }
    }
    .bx_ttl_intro {
      position: relative;
      &:before {
        content: "";
        background: url(../images/3/bf_ttl_intro.png) no-repeat;
        width: 182px;
        height: 148px;
        position: absolute;
        top: -46px;
        left: -15px;
        z-index: 1;
      }
      .ttl_intro {
        font-size: rem(35);
        color: #fff;
        font-weight: bold;
        background: url(../images/3/bkg_ttl_intro.png) left center no-repeat;
        background-size: 890px 97px;
        height: 79px;
        padding: 10px 0 0 230px;
        margin: 0 0 0 -30px;
        position: relative;
        &:before {
          content: "";
          background: url(../images/icon_ttl.png) no-repeat;
          width: 24px;
          height: 47px;
          position: absolute;
          top: 9px;
          left: 205px;
        }
      }
    }
    .dac_banner {
      text-align: center;
    }
    .bx_top_animation {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      figure {
        &:nth-child(1) {
          width: calc(100% - 714px);
        }
        &:nth-child(2) {
          width: 372px;
          margin-right: 15px;
        }
      }
      .list_right {
        width: 342px;
        li {
          border: 1px solid #B08B65;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1px;
          margin-bottom: 5px;
          span {
            font-size: rem(20);
            color: #fff;
            background: url(../images/3/bkg_span.png) top left no-repeat;
            display: inline-block;
            width: 138px;
            height: 33px;
            text-align: center;
          }
          em {
            font-size: rem(23);
            color: #42210B;
            font-style: normal;
            text-align: center;
            display: inline-block;
            width: calc(100% - 138px);
          }
        }
      }
    }
    .txt_center {
      text-align: center;
      border-top: 1px dashed #C69C6D;
      border-bottom: 1px dashed #C69C6D;
      margin: 20px;
      padding: 18px 0;
      font-size: rem(24);
      color: #42210B;
      span {
        color: #F15A24;
      }
      strong {
        color: #D63F73;
      }
    }
    .bx_gr_intro {
      .ttl_gr {
        font-size: rem(25);
        color: #333;
        text-align: center;
        margin: 30px 0 20px;
      }
      .list_intro {
        padding: 0 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 0 0 -15px;
        li {
          width: calc(33% - 15px);
          margin: 0 0 20px 15px;
          border-radius: 9px;
          overflow: hidden;
          &:not(:nth-child(-n+3)) {
            margin-top: 15px;
          }
          span {
            font-size: rem(15);
            color: #fff;
            padding: 10px 0 10px 10px;
            background-color: #B08B65;
            display: block;
          }
          img {
            width: 100%;
            height: auto;
            border: 1px solid #B08B65;
          }
          .txt {
            font-size: 1.7rem;
            padding: 5px 0 0;
          }
        }
      }
    }
    /* dac */
    .bx_serminar_beuty {
      margin: 0 0 26px;
      .ttl_ser {
        background: url(../images/3/bkg_ttl_serminar.png) center center no-repeat;
        font-size: rem(26);
        color: #B08B65;
        text-align: center;
        background-size: 100% 100%;
        height: 53px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-weight: bold;
        margin-top: -20px;
        width: calc(100% + 70);
        margin: -30px -35px 0;
      }
      .bx_ser {
        border: 1px solid #B08B65;
        margin: 30px 50px 0;
        display: flex;
        justify-content: space-between;
        padding: 23px 0 20px 20px;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        border-radius: 5px;
        figure {
          width: 268px;
        }
        .list_ser {
          width: calc(100% - 268px);
          padding-left: 35px;
          margin-top: 20px;
          li {
            font-size: 23px;
            color: #42210B;
            margin: 5px 0;
            position: relative;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &:before {
              content: "";
              width: 3px;
              height: 3px;
              background-color: #42210B;
              position: absolute;
              top: 15px;
              left: 0;
            }
            em {
              width: 150px;
              font-style: normal;
              position: relative;
              display: flex;
              align-items: center;
              position: relative;
              justify-content: space-between;
              span {
                width: 70px;
              }
              &::after {
                position: relative;
                content: "";
                width: calc(100% - 80px);
                border-bottom: 1px dashed  #000;
              }
            }
            > span {
              display: inline-block;
              text-align: left;
              width: calc(100% - 150px);
              padding: 0 0 0 5px;
            }
          }
        }
      }
    }
    /* dac*/
  }
  .infor_beauty {
    padding: 80px 0;
    background-color: #fff;
    .ttl_intro {
      font-size: rem(35);
      color: #fff;
      font-weight: bold;
      background: url(../images/3/bkg_ttl_intro.png) left center no-repeat;
      background-size: 890px 97px;
      height: 79px;
      padding: 10px 0 0 100px;
      margin: 0 0 0 -30px;
      position: relative;
      &:before {
        content: "";
        background: url(../images/icon_ttl.png) no-repeat;
        width: 24px;
        height: 47px;
        position: absolute;
        top: 9px;
        left: 66px;
      }
    }
    table {
      border-collapse: collapse;
      width: 750px;
      background:url(../images/3/bg.png) 0 0 repeat;
      margin: 20px 55px 0;
      tr {
        &:last-child{
          th,td{
            border-bottom:none;
          }
        }
        th {
          width: 215px;
          padding: 25px 0 25px;
          font-size: rem(24);
          font-weight: bold;
          color: #fff;
          text-align: center;
          background-color: #B08B65;
          border-bottom: 1px solid #fff;
          vertical-align: middle;
          height: 100%;
          line-height: 1.5;
        }
        td {
          padding: 25px 0 25px 20px;
          width: calc(100% - 215px);
          font-size: rem(24);
          font-weight: normal;
          color: #42210b;
          border-bottom: 1px dashed #754C24;
          vertical-align: middle;
          line-height: 1.2;
          span{
            font-size: rem(20);
          }
        }
      }
    }
  }
}
.st_learn{
  margin: 50px 0;
  .bx_learn_novasel{
    background-color: #fff;
    padding-top: 26px;
    .ttl_novasel{
      background: url(../images/3/bkg_ttl_learn.png) center center no-repeat;
      font-size: rem(42);
      color: #603813;
      text-align: center;
      background-size: 904px 80px;
      height: 80px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: bold;
      margin: 0 -15px;
      span{
        color: #00B3C4;
      }
    }
    .gr_point{
      display: flex;
      justify-content: space-between;
      margin-left: -10px;
      padding: 0 25px 102px;
      margin: 68px 0 0;
      position: relative;
      &:after{
        content: "";
        background: url(../images/3/af_ttl_video.png) no-repeat;
        width: 249px;
        height: 41px;
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
      }
      article{
        position: relative;
        border: 1px dashed #B08B65;
        width: calc(33.33% - 10px);
        margin-left: 10px;
        padding: 13px 13px 20px 13px;
        border-radius: 9px;
        &:nth-child(1),&:nth-child(3){
          .ttl_art{
            padding-top: 15px;
          }
        }
        &:nth-child(2){
          .ttl_art{
            text-align: left;
          }
        }
        figure{
          position: absolute;
          top: -25px;
          left: 15px;
        }
        .ttl_art{
          color: #754C24;
          font-size: rem(26);
          font-weight: bold;
          border-bottom: 1px solid #754C24;
          padding-bottom: 10px;
          margin: 30px 0 20px;
          min-height: 90px;
          line-height: 1.5;
          text-align: center;
          span{
            color: #D63F73;
          }
        }
        p{
          font-size: rem(16);
          line-height: 1.5;
          font-weight: bold;
        }
        .certificate{
          position: absolute;
          right: -15px;
          bottom: -35px;
        }
      }
    }
  }
  .bx_st_student{
    background-color: #fff;
    .ttl_student{
      font-size: rem(56);
      text-align: center;
      color: #000;
      font-weight: bold;
      position: relative;
      &:after{
        content:"";
        background: url(../images/3/line_ttl.png) no-repeat;
        width: 774px;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      span{
        color: #FF1D25;
      }
    }
    .move_youtube {
      margin: 50px auto;
      position: relative;
      width: 100%;
      max-width: 640px;
    }
    .gr_message{
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      margin: 0 -18px;
      padding-bottom: 68px;
      article{
        width: 50%;
        padding: 0 18px;
        .top{
          display: flex;
          justify-content: center;
          margin-bottom: 23px;
          figure{
            position: relative;
            z-index: 1;
          }
          h3{
            font-size: rem(20);
            font-weight: bold;
            color: #4D4D4D;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0 0 15px 5px;
            position: relative;
            &:after{
              content:"";
              background: url(../images/3/af_tt_msg.png) no-repeat;
              width: 303px;
              height: 14px;
              position: absolute;
              bottom: -15px;
              left: -120px;
            }
            span{
              display: block;
              margin-bottom: 20px;
            }
          }
        }
        p{
          font-size: rem(21);
          color: #754C24;
          text-decoration: underline dashed #C69C6D;
          line-height: 40px;
        }
      }
    }
  }
  .bx_procedure{
    background-color: #fff;
    .ttl_procedure{
      background: url(../images/3/bkg_ttl_new.png) center center no-repeat;
      font-size: rem(45);
      color: #fff;
      text-align: center;
      background-size: 982px 116px;
      height: 116px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: bold;
      margin: 0 -50px;
      span{
        color: #FFFF00;
        position: relative;
        letter-spacing: -3px;
        &:before{
          content:"";
          background: url(../images/3/bf_ttl.png) no-repeat;
          width: 121px;
          height: 9px;
          position: absolute;
          top: -10px;
          left: 27px;
        }
      }
    }
    .gr_step{
      padding: 0 13px 30px;
      .item_st{
        display: flex;
        justify-content: space-between;
        margin: 21px 0 65px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #B08B65;
        position: relative;
        &:after{
          content:"";
          background: url(../images/3/af_item.png) no-repeat;
          width: 122px;
          height: 33px;
          position: absolute;
          bottom: -34px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-child(1),&:nth-child(3){
          .top_st{
            order: 2;
            padding-left: 20px;
            background: url(../images/3/bkg_tt_01.png) top center no-repeat;
            padding-right: 90px;
          }
          figure{
            order: 1;
          }
        }
        &:nth-child(2),&:nth-child(4){
          .top_st{
            order: 1;
            padding-right: 20px;
            background: url(../images/3/bkg_tt_02.png) top center no-repeat;
          }
          figure{
            order: 2;
          }
        }
        &:nth-child(1){
          .top_st{
            width: calc(100% - 297px);

          }
          figure{
            width: 297px;
          }
        }
        &:nth-child(2),&:nth-child(3){
          .top_st{
            width: calc(100% - 368px)
          }
          figure{
            width: 368px;
          }
        }
        &:nth-child(4){
          border-bottom: none;
          margin-bottom: 0;
          &:after{
            content:none;
          }
        }
        .top_st{
          position: relative;
          display: flex;
          justify-content: center;
          padding: 10px 0;
          .stt_step{
            width: 126px;
            height: 89px;
            background: url(../images/3/bkg_pink_intro.png) center center no-repeat;
            background-size: contain;
            margin: -25px 10px 0 0;
            em{
              font-size: rem(24);
              color: #fff;
              text-align: center;
              transform: rotate(-15deg);
              line-height: 1.2;
              padding-top: 16px;
              font-style: normal;
              display: block;
              span{
                font-size: rem(35);
              }
            }
          }
          .tt_step{
            font-size: rem(26);
            span{
              color: #D63F73;
            }
            small{
              font-size: rem(22);
            }
          }
          .img_vt{
            position: absolute;
            bottom: -22px;
            right: 0;
          }
        }
      }
    }
  }
}
.btn_cts{
  width: 484px;
  margin: 30px auto;
}
.show_sp{
  display: none;
}
.show_pc{
  display: block;
}
footer{
  .txt_call{
    font-size: rem(28);
    color: #603813;
    text-align: center;
    width: 820px;
    margin: 0 auto 30px;
    position: relative;
    &:after{
      content:"";
      background: url(../images/3/line_arrow.png) no-repeat;
      width: 504px;
      height: 25px;
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .bx_time{
    text-align: center;
    .tel{
      pointer-events: none;
      font-size: rem(55);
      color: #603813;
      font-weight: bold;
      span{
        position: relative;
        padding-left: 60px;
        display: inline-block;
        &:before{
          content:"";
          background: url(../images/3/icon_phone.png) no-repeat;
          width: 46px;
          height: 48px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
    em{
      display: block;
      font-size: rem(28);
      color: #603813;
      border-bottom: 1px solid #C69C6D;
      width: 820px;
      margin: 0 auto 0;
      font-style: normal;
    }
  }
  .copyright{
    margin: 50px 0 0 0;
    padding: 40px 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: rem(20);
    text-align: center;
  }
}
.dac_extra {
  .soldout {
    background: #FFF5EA;
    border: 5px solid #EBD6B2;
    border-radius: 10px;
    background-size: 100% 100%;
    border-radius: 30px;
    position: relative;
    padding: 53px;
    margin: 20px 35px;
    h3 {
      position: absolute;
      display: inline-block;
      top: -12px;
      left: -12px;
      z-index: 10;
    }
    .inner {
      z-index: 9;
      .content {
        padding: 70px 55px 70px 25px;
        border-radius: 10px;
        border: 1px solid pink;
        position: relative;
        background: #fff;
        h4 {
          font-size: 3rem;
          line-height: 4.9rem;
          background: url('../images/bg_red.png') no-repeat 0 0;
          width: 429px;
          background-size: cover;
          text-align: center;
          color: #fff;
          font-weight: bold;
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
        .icon {
          ul {
            display: flex;
            justify-content: space-between;
            li {
              display: flex;
              width: 122px;
              height: 122px;
              background: url('../images/circle.png') 0 0 no-repeat;
              background-size: cover;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              position: relative;
              font-size: 1.5rem;
              font-weight: bold;
              text-align: center;
              &::before,&::after {
                position: absolute;
                content: "";
              }
              &:not(:last-child) {
                &::before {
                  width: 49px;
                  height: 49px;
                  background: url('../images/plus.png') 0 0 no-repeat;
                  right: -130px;
                }
              }
              &:nth-of-type(1) {
                &::after {
                  width: 165px;
                  height: 93px;
                  background: url('../images/dua.png') 0 0 no-repeat;
                  background-size: contain;
                  left: 15px;
                  bottom: -31px;
                }
              }
              &:nth-of-type(2) {
                &::after {
                  width: 99px;
                  height: 85px;
                  background: url('../images/icon_new.png') 0 0 no-repeat;
                  background-size: contain;
                  right: -30px;
                  bottom: -31px;
                }
              }
              &:nth-of-type(3) {
                &::after {
                    width: 75.75px;
                  height: 99px;
                  background: url('../images/water.png') 0 0 no-repeat;
                  background-size: contain;
                  right: -40px;
                  bottom: -31px;
                }
              }
            }
          }
        }
        .price {

        }
      }
      .price {
        margin-top: 20px;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            width: 168px;
            height: 68px;
            background: url('../images/bg_arrow.png') 0 0 no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            padding: 0 0 0 20px;
            font-size: 3.5rem;
            line-height: 1;
            font-weight: bold;
            position: relative;
            margin-right: 20px;
            &::after {
              position: absolute;
              content: "";
              width: 16px;
              height: 52px;
              background:  url('../images/arrow_right.png') 0 0 no-repeat;
              background-size: cover;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          em {
            font-style: normal;
            font-size: 7.5rem;
            line-height: 1;
            color: red;
            font-weight: bold;
            small {
              font-size: 2reml
            }
          }
        }
      }
    }
  }
  .note {
    margin-top: 20px;
    font-size: 2rem;
    line-height: 3rem;
    color: #000;
    padding: 0  35px;
  }
  .soldout2 {
    background-size: 100% 100%;
    padding: 70px 55px 70px 25px;
    .inner {
      .content {
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
        h4 {
          position: relative;
        }
      }
    }
    .price {
      margin-top: 50px;
    }
  }
}