.show_mb {
  display: none;
}
.teacher {
  .logo{
    background-color: #fff;
  }
  .ttl {
    border-top: 5px solid #F1DCB8;
    border-bottom: 5px solid #F1DCB8;
    background: #B08B65;
    h2 {
      font-size: 3.3rem;
      line-height: 1;
      font-weight: bold;
      padding: 25px 0 25px 170px;
      color: #fff;
      position: relative;
      &::before {
        position: absolute;
        content: "ネットで \A 予習・復習";
        white-space: pre;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-15deg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 107px;
        font-size: 2.4rem;
        line-height: 1.5;
        text-align: center;
        background: url('../images/pink.png') 0 0 no-repeat;
        background-size: contain;
        color: #fff;
        z-index: 1;
      }
      span {
        font-size: 4.8rem;
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
  .wrap {
    position: relative;
    background: url(../images/bkg_banner.png) center center no-repeat;
    background-size: cover;
    .bottom {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      transform: translateY(-60px);
    }
    .top {
      position: absolute;
      top: 0;
      left: 0;
      .intro {
        position: relative;
        padding: 25px 0 0 25px;
        width: 555px;
        &::after {
          position: absolute;
          content: "";
          width: 182px;
          height: 255px;
          background: url('../images/armorial.png') 0 0 no-repeat;
          background-size: contain;
          top: 0px;
          right: -150px;
        }
        /* h3 {
          position: relative;
          font-size: 8.2rem;
          line-height: 1;
          font-weight: bold;
        } */
        h2 {
          font-size: 5.5rem;
          line-height: 1.3;
          font-weight: bold;
          margin: 14px 0;
          text-shadow: 0px 0px 6px #fff;
          font-family: 'Hiragino Kaku Gothic Pro';
          color: #604C3F;
          span{
            color: #D53F73;
          }
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
          font-weight: bold;
          color: #8C6239;
          font-family: 'Hiragino Kaku Gothic Pro';
        }
      }
      .wrap_box {
        margin-top: 82px;
        margin-left: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        .banner {
          padding: 0 0 10px 8px;
          width: 700px;
          margin-left: -28px;
          position: absolute;
          top: 294px;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
        .box{
          .inner{
            margin-top: -88px;
          }
          .btn{
            z-index: 22;
            position: relative;
            width: 422px;
            border-radius: 15px;
            margin-left: 20px;
          }
        }
        .info {
          padding-left: 15px;
          padding-bottom: 25px;
          width: 395px;
          position: relative;
          transform: translateZ(0);
          &::before {
            position: absolute;
            content: "";
            width: 960px;
            height: 88px;
            background: rgba(255, 255, 255, 0.5);
            left: -466px;
            bottom: 0;
          }
          >p{
            padding-left: 74px;
          }
          p {
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
            &:nth-of-type(2) {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: bold;
              transform: translateY(20px);
              position: relative;
              margin-top: -13px;
              padding-left: 25px;
              span {
                font-size: 2.6rem;
                line-height: 1;
              }

              em {
                font-style: normal;
                font-size: 4.6rem;
                font-weight: bolder;
                display: flex;
                align-items: center;
                small {
                  font-size: 1.6rem;
                  display: inline-block;
                  margin-right: 30px;
                }
              }
            }

          }
        }
      }
      .frontof {
        background: rgba(#FC3031,0.8);
        color: #fff;
        padding: 10px;
        width: 434px;
        height: 284px;
        position: absolute;
        top: 210px;
        left: 60px;
        z-index: 99;
        .content_frontof {
          border: 10px solid rgba(#FEC0C0,0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-weight: bold;
          p {
            font-size: 4rem;
          }
          h3 {
            font-size: 6rem;
          }
        }
      }
    }
  }
}
.st_time{
  .bx_bkg_time{
    background: url(../images/bkg_time.png) center center no-repeat;
    width: 878px;
    height: 285px;
    margin: 50px auto;
    padding: 15px;
    .inner{
      background-color: #fff;
      height: 100%;
      border-radius: 7px;
    }
    .ttl_time{
      font-size: 4rem;
      line-height: 83px;
      font-weight: bold;
      margin: 0 0 0 -46px;
      background: url(../images/bkg_ttl_time.png) 0 0 no-repeat;
      background-size: 903px 97px;
      height: 97px;
      padding: 0 0 0 92px;
      position: relative;
      color: #fff;
      span{
        text-align: center;
        font-size: rem(22);
        background: url(../images/ctl_gold.png) center center no-repeat;
        background-size: cover;
        width: 132px;
        height: 131px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #42210B;
        font-weight: bold;
        position: absolute;
        bottom: -52px;
        right: 57px;
        strong{
          font-size: rem(32);
        }
        em{
          font-style: normal;
          font-size: rem(26);
          position: relative;
          padding-right: 22px;
          letter-spacing: -4px;
          small{
            color: #fff;
            font-size: rem(15);
            background-color: #42210B;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 100%;
            text-align: center;
            line-height: 22px;
            position: absolute;
            top: 11px;
            right: 0;
            padding-right: 4px;
          }
        }
      }
      &:before{
        position: absolute;
        content: "";
        width: 24px;
        height: 47px;
        background: url(../images/eiffel.png) 0 0 no-repeat;
        background-size: contain;
        left: 48px;
        top: 16px;
      }
    }
    .bx_datetime{
      display: flex;
      .left{
        padding-left: 20px;
        width: 411px;
        .date{
          font-size: rem(50);
          font-weight: bold;
          line-height: 1;
          margin-bottom: 10px;
          color: #42210B;
          text-align: center;
          position: relative;
          padding-right: 32px;
          strong{
            font-size: rem(80);
          }
          span{
            color: #fff;
            background-color: #42210B;
            width: 46px;
            height: 46px;
            display: inline-block;
            border-radius: 100%;
            text-align: center;
            line-height: 50px;
            font-size: rem(35);
            position: absolute;
            top: 25px;
            right: 0;
          }
        }
        .time{
          font-size: rem(30);
          color: #42210B;
          font-weight: bold;
          display: block;
          border-top: 1px solid  #42210B;
          border-bottom: 1px solid  #42210B;
          text-align: center;
        }
      }
      .right{
        padding-left: 20px;
        width: calc(100% - 411px);
        .list_right{
          margin-top: 20px;
          li{
            margin-bottom: 10px;
            span{
              font-size: rem(18);
              background-color: #D53F73;
              display: inline-block;
              border-radius: 5px;
              color: #fff;
              width: 69px;
              height: 22px;
              text-align: center;
              line-height: 22px;
              vertical-align: top;
            }
            em{
              font-style: normal;
              font-size: rem(18);
              padding-left: 10px;
              display: inline-block;
              small{
                font-weight: normal;
                font-size: rem(18);
                display: block;
              }
            }
            &:nth-child(2){
              span{
                font-size: rem(20);
                height: 28px;
                line-height: 28px;
              }
              em{
                font-size: rem(20);
                small{
                  font-size: rem(16);
                }
              }
            }
            &:last-child{
              span{
                background-color: transparent;
                color: #42210B;
                width: auto;
                vertical-align: top;
                font-size: rem(15);
              }
            }
          }
        }
      }
    }
  }
}
.care {
  margin-top: 42px;
  .inner {
    padding: 38px 18px 20px;
    display: flex;
    background: #fff;
    flex-flow: row wrap;
    figure {
      width: 282px;
      img {
        width: 100%;
        height: auto;
        &:nth-of-type(1) {
          margin-bottom: 20px;
        }
      }
    }
    .right {
      width: calc(100% - 282px);
      h2 {
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-weight: bolder;
        color: #B08B65;
        padding: 0 0 14px 20px;
        border-bottom: 1px solid #B08B65;
        position: relative;
        &:before{
          content:"";
          background: url(../images/bf_h2.png) no-repeat;
          width: 63px;
          height: 45px;
          position: absolute;
          bottom: 25px;
          left: -45px;
        }
      }
      .list_check{
        margin: 17px 0 0 20px;
        li{
          position: relative;
          font-size: 2rem;
          line-height: 3rem;
          font-weight: bold;
          color: #D63F73;
          margin-bottom: 10px;
          padding-left: 30px;
          display: inline-block;
          transform: translateZ(0);
          &:before{
            content:"";
            background: url(../images/icon_check.png) no-repeat;
            width: 28px;
            height: 28px;
            position: absolute;
            top: 0;
            left: 0;
          }
          &:after{
            content: "";
            background: url(../images/3/line.png) no-repeat;
            width: 94%;
            height: 17px;
            position: absolute;
            bottom: 0px;
            left: 30px;
            z-index: -1;
          }
        }
      }
      p {
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding: 0 0 0 20px;
      }
    }
  }
}
.amazing {
  margin-top: 30px;
  .inner {
    padding: 18px 0 20px;
    background: #fff;
    h2 {
      font-size: 4rem;
      line-height: 4.2rem;
      font-weight: bold;
      margin: 0 0 0 -18px;
      background: url('../images/ttl_amazing.png') 0 0 no-repeat;
      background-size: 710px 75px;
      height: 75px;
      padding: 11px 0 22px 60px;
      position: relative;
      color: #fff;
      &::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 47px;
        background: url('../images/eiffel.png') 0 0 no-repeat;
        background-size: contain;
        left: 19px;
        top: 10px;
      }

    }
    .wrap {
      display: flex;
      justify-content: space-between;
      padding: 30px 30px 25px 30px;
      figure {
        width: 250px;
        border: 1px solid #B08B65;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 77px;
          height: 77px;
          border-radius: 50%;
          left: -20px;
          top: -30px;
          z-index: 3;
        }
        img {
          position: relative;
          z-index: 3;
        }
        &:nth-of-type(1) {
          &::before {
            background: url('../images/amazing_01.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &:nth-of-type(2) {
          &::before {
            background: url('../images/amazing_02.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
        &:nth-of-type(3) {
          &::before {
            background: url('../images/amazing_03.png') 0 0 no-repeat;
            background-size: contain;
          }
          &::after {
            position: absolute;
            content: "";
            width: 277px;
            height: 205px;
            background: url('../images/writting.png') 0 0 no-repeat;
            background-size: contain;
            right: -70px;
            top: -155px;
            z-index: 1;
          }
        }
        span {
          display: flex;
          width: 100%;
          height: 185px;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 2;
        }
        figcaption {
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          padding: 10px 0;
          color: #fff;
          background: #B08B65;
        }
      }
    }
    .wrap_text {
      padding: 63px 20px 0  14px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 264px;
        height: 47px;
        background: url('../images/arrow_down.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      > p {
        font-size: 4rem;
        line-height: 1;
        padding: 16.5px 0;
        text-align: center;
        color: #fff;
        background: #D63F73;
        border-radius: 8px;
        font-weight: bold;
      }
    }
    .bx_st_student{
      background-color: #fff;
      padding-top: 63px;
      margin-top: 50px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 264px;
        height: 47px;
        background: url('../images/arrow_down.png') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      .ttl_student{
        font-size: rem(56);
        text-align: center;
        color: #000;
        font-weight: bold;
        position: relative;
        background: transparent;
        &:after{
          content:"";
          background: url(../images/3/line_ttl.png) no-repeat;
          width: 774px;
          height: 8px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        span{
          color: #FF1D25;
        }
      }
      .move_youtube {
        margin: 50px auto;
        position: relative;
        width: 100%;
        max-width: 640px;
      }
      .gr_message{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        margin: 0 -18px;
        padding-bottom: 68px;
        article{
          width: 50%;
          padding: 0 18px;
          .top{
            display: flex;
            justify-content: center;
            margin-bottom: 23px;
            figure{
              position: relative;
              z-index: 1;
            }
            h3{
              font-size: rem(20);
              font-weight: bold;
              color: #4D4D4D;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              margin: 0 0 15px 5px;
              position: relative;
              &:after{
                content:"";
                background: url(../images/3/af_tt_msg.png) no-repeat;
                width: 303px;
                height: 14px;
                position: absolute;
                bottom: -15px;
                left: -120px;
              }
              span{
                display: block;
                margin-bottom: 20px;
              }
            }
          }
          p{
            font-size: rem(21);
            color: #754C24;
            text-decoration: underline dashed #C69C6D;
            line-height: 40px;
          }
        }
      }
    }
  }
}
.seminar {
  padding-top: 40px;
  /* background: #fff; */
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    ins{
      margin-right: 15px;
    }
    em {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-size: 3.4rem;
      line-height: 1;
      font-weight: bold;
      color: #42210B;
      &::before,&::after {
        position: relative;
        content: "";
        width: 1px;
        height: 40px;
        background: #000;
      }
      &::before {
        transform: translateX(-10px) rotate(-30deg);
      }
      &::after {
        transform: translateX(10px) rotate(30deg);
      }
      span {
        font-size: 3.4rem;
        color: #D63F73;
        letter-spacing: -3px;
        small{
          color: #523420;
        }
      }
    }
  }
  .wrap {
    counter-reset: ar;
    padding: 20px 20px 0;
    article {
      counter-increment: ar;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #B08B65;
      position: relative;
      &:nth-of-type(odd) {
        h3 {
          padding-left: 297px;
        }
      }
      &:nth-of-type(even) {
        h3 {
          padding-right: 297px;
          padding-left: 30px;
        }
        .main_ar {
          flex-direction: row-reverse;
          figure {
            margin-right: 0;
            margin-left: 21px;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      &:last-child {
        &::after {
          position: absolute;
          content: "";
          width: 240px;
          height: 155px;
          background: url('../images/japan_gold.png') 0 0 no-repeat;
          background-size: contain;
          right: 40px;
          bottom: 16px;
        }
      }
      h3 {
        display: flex;
        align-items: flex-end;
        line-height: 1;
        font-weight: bold;
        color: #fff;
        background: #B08B65;
        padding: 20px 0 15px;
        &::before,&::after {
          position: relative;
        }
        &::before {
          content: "Point.";
          font-size: 2.7rem;
          color: #fff;
          order: 1;
        }
        &::after {
          content: counter(ar);
          font-size: 5.3rem;
          line-height: 4rem;
          color: #fff;
          order: 2;
          margin-right: 25px;
        }
        span {
          order: 3;
          font-size: 4rem;
        }
      }
      .main_ar {
        background: url('../images/bg_seminar.png') center center repeat;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 20px;
        figure {
          width: 258px;
          margin-right: 21px;
          margin-top: -53px;
          img {
            width: 100%;
            height: auto;

          }
        }
        .txt {
          width: calc(100% - 280px);
          font-size: 2.2rem;
          line-height: 3.2rem;
          padding: 22px 0 0;
        }
      }
    }
  }
}
.doctor {
  h2 {
    text-align: center;
    em {
      font-style: normal;
      font-size: 4.5rem;
      line-height: 1;
      font-weight: bold;
      display: inline-block;
      position: relative;
      padding: 0 0 0 80px;
      &::before {
        position: absolute;
        content: "";
        width: 53px;
        height: 111px;
        background: url('../images/eiffel_02.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
        bottom: -32px;
      }
      span {
        font-size: 4.9rem;
        color: #D63F73;
      }
    }
  }
  .inner {
    background: #fff;
    > article {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      figure {
        width: 205px;
        margin-right: 15px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .right {
        width: calc(100% - 220px);
        h3 {
          font-weight: bold;
          border-bottom: 1px dotted #B08B65;
          color: #42210B;
          span {
            font-size: 2.4rem;
            line-height: 5.2rem;
          }
          em {
            font-size: 3.9rem;
            line-height: 5.2rem;
            font-style: normal;
          }
        }
        .txt {
          font-size: 1.8rem;
          line-height: 2.8rem;
          color: #42210B;
          padding-bottom: 10px;
          border-bottom: 1px dotted #B08B65;
          margin-top: 13px;
        }
      }
    }
    .history {
      padding: 0 20px 20px;
      position: relative;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #42210B;
      font-weight: bold;
      &::after {
        position: absolute;
        content: "";
        width: 450px;
        height: 300px;
        background: url('../images/gray.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
        bottom: 0;
      }
      dl {
        display: flex;
        margin-bottom: 20px;
        dt {
          width: 100px;
          span{
            background: #744C24;
            color: #fff;
            padding: 5px 10px;
            border-radius: 7px;
          }
        }
        dd {
          width: calc(100% - 100px);
        }
        + p {
          margin-top: 20px;
        }
      }

    }
  }
}