@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
ins {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000;
  /* font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif; */
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, '游ゴシック', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3', "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

body {
  background: url(../images/bg01.png) repeat scroll center top;
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  vertical-align: bottom;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}

.row {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

a {
  color: #000;
}