@charset "UTF-8";
@import "./_mixin/mixin";
@include min-screen() {
  .wrapper{
    min-height: 960px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;
    background: url('../images/bg_btn.png') 0 0 repeat;
    background-size: 100% 100%;
    border-radius: 24px;
    border: 1px solid #C8406E;
    &::after {
      position: relative;
      content: "";
      width: 41px;
      height: 40px;
      background: url('../images/icon_btn.png') 0 0 no-repeat;
      background-size: contain;
      border-radius: 50%;
      margin-left: 5px;
    }
    span {
      font-size: 3.1rem;
      line-height: 1;
      font-weight: bold;
      color: #fff;
    }
  }
  @import "./_style_dac_pc.scss";
  @import "./_style_thong_pc.scss";
}

@include max-screen() {
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: vw(85);
    background: url('../images/bg_btn.png') 0 0 repeat;
    background-size: 100% 100%;
    border-radius: vw(24);
    border: 1px solid #C8406E;
    &::after {
      position: relative;
      content: "";
      width: vw(41);
      height: vw(40);
      background: url('../images/icon_btn.png') 0 0 no-repeat;
      background-size: contain;
      border-radius: 50%;
      margin-left: vw(5);
    }
    span {
      font-size: vw(40);
      line-height: 1;
      font-weight: bold;
      color: #fff;
    }
  }
  @import "./_style_dac_sp.scss";
  @import "./_style_thong_sp.scss";
}

